<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Leaflet Routing Machine Example</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
    />
    <link
      rel="stylesheet"
      href="./leaflet-routing-machine-3.2.12/dist/leaflet-routing-machine.css"
    />
    <style>
      .map {
        position: absolute;
        width: 100%;
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div id="map" class="map"></div>
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="./leaflet-routing-machine-3.2.12/dist/leaflet-routing-machine.js"></script>
    <script>
      var map = L.map("map");
      L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
        attribution: "© OpenStreetMap contributors",
      }).addTo(map);
      L.Routing.control({
        waypoints: [
          L.latLng(21.194150069825568, 105.83835485165768),
          L.latLng(21.19703371745566, 105.8325207072208),
        ],
        routeWhileDragging: true,
      }).addTo(map);
    </script>
  </body>
</html>
